<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="5Minds MyGet essential_projects public" value="https://5minds.myget.org/F/essential_projects_public/api/v3/index.json" />
    <add key="5Minds MyGet process_engine public" value="https://5minds.myget.org/F/process_engine_public/api/v3/index.json" />
  </packageSources>
</configuration>