<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <add key="ProcessEngine Public" value="https://5minds.myget.org/F/process_engine_public/api/v3/index.json" />
        <add key="Foundation Identity Server" value="https://5minds.myget.org/F/foundation_identityserver/auth/4a9644d3-1bc6-4311-9a91-58fe989e43ac/api/v3/index.json" />
    </packageSources>
</configuration>
